<button
  type="button"
  [appTooltip]="tooltip"
  appTooltipPlacement="top"
  [ngClass]="
    'inline-flex items-center justify-center gap-2 rounded-lg transition ' +
    className +
    ' ' +
    sizeClasses +
    ' ' +
    variantClasses +
    ' ' +
    disabledClasses
  "
  [disabled]="isDisabled"
  [attr.aria-busy]="loading || null"
  [attr.aria-label]="tooltip || null"
  (click)="onClick($event)"
>
  @if (loading) {
    <app-spinner [size]="spinnerSize" label="Procesando" />
  } @else if (startIconName) {
    <app-icon [name]="startIconName" [iconClass]="iconSizeClass" />
  } @else if (startIcon) {
    <span class="flex items-center" [innerHTML]="startIcon | safeHtml"></span>
  }
  @if (!(loading && iconOnly)) {
    <ng-content></ng-content>
  }
  @if (!loading && endIconName) {
    <app-icon [name]="endIconName" [iconClass]="iconSizeClass" />
  } @else if (!loading && endIcon) {
    <span class="flex items-center" [innerHTML]="endIcon | safeHtml"></span>
  }
</button>
