<div>
  <div #buttonRef (click)="toggle()">
    <ng-content select="[dropdown-button]"></ng-content>
  </div>
  <div class="z-[999]" #contentRef>
    <div 
      [ngStyle]="{ display: isOpen ? 'block' : 'none' }" 
      class="w-44 rounded-2xl border border-gray-200 bg-white p-2 shadow-lg dark:border-gray-700 dark:bg-gray-800"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
    >
      <div class="space-y-1">
        <ng-content select="[dropdown-content]"></ng-content>
      </div>
    </div>
  </div>
</div>
